<app-header (openNewNote)="toCreateNew = !toCreateNew"></app-header>
<!--<app-main-content
  style="width: 100vw; position: absolute; height: 100%;"
></app-main-content>-->
<app-new-note
  *ngIf="toCreateNew"
  (closeNewNote)="toCreateNew = !toCreateNew"
  style="z-index: 1000;"
></app-new-note>
<app-note-card
  class="carde"
  style="z-index: 1;"
  *ngFor="let card of cards"
  [fullCard]="card"
></app-note-card>

<!-- <div class="carde" *ngIf="welcome">
  <p (click)="wtf()">
    Oh, no! You don't have any notes yet click here for create a new one
  </p>
</div> -->

<div class="backDiv"></div>
